Repository kubernetes-sigs/cluster-api-operator, pull requests merged in 2025-02, with the labels that each got.

#715 🌱 Add new Makefile target to run e2e tests locally
  Makefile
  test/e2e/README.md
Labels: lgtm, ok-to-test, cncf-cla: yes, approved, size/S

#704 :book: Add info about version selection in ConfigMap to the air-gapped env
  docs/book/src/03_topics/02_configuration/01_air-gapped-environtment.md
Labels: lgtm, ok-to-test, cncf-cla: yes, approved, size/S

#718 :seedling: Fix linter for the e2e test packages
  .github/workflows/golangci-lint.yml
  .gitignore
  Makefile
  cmd/plugin/cmd/init.go
  cmd/plugin/cmd/utils.go
  test/e2e/air_gapped_test.go
  test/e2e/compressed_manifests_test.go
  test/e2e/doc.go
  test/e2e/e2e_suite_test.go
  test/e2e/helm_test.go
  test/e2e/helpers_test.go
  test/e2e/minimal_configuration_test.go
  test/framework/all_type_helpers.go
  test/framework/conditions.go
  test/framework/doc.go
Labels: lgtm, ok-to-test, cncf-cla: yes, approved, size/L

#706 ✨ Allow accepting self-hosted gitlab installations
  internal/controller/phases_test.go
  util/util.go
Labels: lgtm, ok-to-test, cncf-cla: yes, approved, size/S

#703 :sparkles: Handle Kubernetes events for waiting CoreProvider in preflight check
  .golangci.yaml
  cmd/main.go
  go.mod
  internal/controller/consts.go
  internal/controller/coreprovider_to_providers.go
  internal/controller/coreprovider_to_providers_test.go
  internal/controller/genericprovider_controller.go
  internal/controller/genericprovider_controller_test.go
  internal/controller/healthcheck/suite_test.go
  internal/controller/phases.go
  internal/controller/phases_test.go
  internal/controller/preflight_checks.go
  internal/controller/preflight_checks_test.go
  internal/controller/secrets_to_providers.go
  internal/controller/secrets_to_providers_test.go
  internal/controller/suite_test.go
  internal/envtest/environment.go
Labels: lgtm, ok-to-test, cncf-cla: yes, approved, size/L

#724 :bug: ConfigMap OCI Image Label Error
  internal/controller/manifests_downloader.go
Labels: lgtm, ok-to-test, cncf-cla: yes, approved, size/S

#688 ✨ Add IPAM provider support to Cluster API Operator Helm chart
  hack/charts/cluster-api-operator/templates/ipam.yaml
  hack/charts/cluster-api-operator/values.yaml
  test/e2e/resources/full-chart-install.yaml
Labels: size/M, lgtm, ok-to-test, cncf-cla: yes, approved

#725 :seedling: Add alias to GenericProviderReconciler type
  .golangci.yaml
  Makefile
  api/v1alpha2/conditions_consts.go
  api/v1alpha2/provider_types.go
  cmd/plugin/cmd/init_test.go
  controller/alias.go
  internal/controller/manifests_downloader.go
  internal/controller/phases_test.go
  test/e2e/air_gapped_test.go
  test/e2e/compressed_manifests_test.go
  test/e2e/minimal_configuration_test.go
Labels: size/M, lgtm, ok-to-test, cncf-cla: yes, approved

#728 🌱 Add ability to build operator images in a private docker registry
  Dockerfile
  Makefile
Labels: size/M, lgtm, cncf-cla: yes, approved

#729 🌱 Bump CAPI to latest v1.9.5 patch release
  cmd/plugin/cmd/preload.go
  cmd/plugin/cmd/preload_test.go
  docs/book/src/03_topics/03_plugin/03_publish_subcommand.md
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Labels: size/M, lgtm, cncf-cla: yes, approved

#726 :seedling: Utilize tilt-provider.yaml and Tilt deploy approach from the Cluster API
  Tiltfile
  config/tilt/kustomization.yaml
  docs/local-development.md
  tilt-provider.yaml
Labels: size/M, lgtm, cncf-cla: yes, approved

#733 🌱 Update helm chart index.yaml to v0.17.0
  index.yaml
  plugins/clusterctl-operator.yaml
Labels: size/M, lgtm, cncf-cla: yes, approved
