Repository kubernetes-sigs/cluster-api-operator, pull requests merged in 2025-03, with the labels that each got.

#730 🐛: fix unknown provider errors when using fetchConfigs
  internal/controller/phases.go
  test/e2e/air_gapped_test.go
  test/e2e/helpers_test.go
  test/e2e/resources/bootstrap-kubeadm-v1.7.7.yaml
  test/e2e/resources/bootstrap-kubeadm-v1.8.0.yaml
  test/e2e/resources/controlplane-kubeadm-v1.7.7.yaml
  test/e2e/resources/controlplane-kubeadm-v1.8.0.yaml
  util/util.go
Labels: lgtm, ok-to-test, cncf-cla: yes, approved, size/XXL

#746 🌱 Update helm chart index.yaml to v0.17.1
  index.yaml
  plugins/clusterctl-operator.yaml
Labels: size/M, lgtm, cncf-cla: yes, approved

#735 🐛 avoid empty manager field in ControlPlaneProvider when no controlPlane and no features gates provided
  hack/charts/cluster-api-operator/templates/core.yaml
  hack/charts/cluster-api-operator/templates/infra-conditions.yaml
  hack/charts/cluster-api-operator/templates/infra.yaml
  hack/charts/cluster-api-operator/templates/ipam.yaml
  test/e2e/resources/all-providers-manager-defined-no-feature-gates.yaml
  test/e2e/resources/feature-gates.yaml
  test/e2e/resources/kubeadm-manager-defined.yaml
  test/e2e/resources/manager-defined-missing-other-infra-spec.yaml
Labels: lgtm, ok-to-test, cncf-cla: yes, approved, size/S

#751 🐛 Improve deployment with Argocd by allowing to remove helm hooks
  hack/charts/cluster-api-operator/templates/addon.yaml
  hack/charts/cluster-api-operator/templates/bootstrap.yaml
  hack/charts/cluster-api-operator/templates/control-plane.yaml
  hack/charts/cluster-api-operator/templates/core-conditions.yaml
  hack/charts/cluster-api-operator/templates/core.yaml
  hack/charts/cluster-api-operator/templates/infra-conditions.yaml
  hack/charts/cluster-api-operator/templates/infra.yaml
  hack/charts/cluster-api-operator/templates/ipam.yaml
  hack/charts/cluster-api-operator/values.yaml
  test/e2e/resources/all-providers-custom-ns-versions.yaml
  test/e2e/resources/all-providers-custom-versions.yaml
  test/e2e/resources/all-providers-latest-versions.yaml
  test/e2e/resources/all-providers-manager-defined-no-feature-gates.yaml
  test/e2e/resources/feature-gates.yaml
  test/e2e/resources/kubeadm-manager-defined.yaml
  test/e2e/resources/manager-defined-missing-other-infra-spec.yaml
  test/e2e/resources/multiple-bootstrap-custom-ns-versions.yaml
  test/e2e/resources/multiple-control-plane-custom-ns-versions.yaml
  test/e2e/resources/multiple-infra-custom-ns-versions.yaml
  test/e2e/resources/only-addon.yaml
  test/e2e/resources/only-bootstrap.yaml
  test/e2e/resources/only-control-plane.yaml
  test/e2e/resources/only-infra-and-addon.yaml
  test/e2e/resources/only-infra-and-ipam.yaml
  test/e2e/resources/only-infra.yaml
  test/e2e/resources/only-ipam.yaml
Labels: lgtm, ok-to-test, cncf-cla: yes, approved, size/L

#756 :bug: InfrastructureProvider waiting for core provider even though CoreProvider is ready
  Makefile
  cmd/plugin/cmd/suite_test.go
  internal/controller/genericprovider_controller.go
  internal/controller/genericprovider_controller_test.go
  internal/controller/phases.go
  internal/controller/preflight_checks.go
  internal/controller/preflight_checks_test.go
  test/e2e/air_gapped_test.go
Labels: lgtm, cncf-cla: yes, approved, size/L

#763 🌱 Update helm chart index.yaml to v0.18.0
  index.yaml
  plugins/clusterctl-operator.yaml
Labels: size/M, lgtm, cncf-cla: yes, approved
